.wrapper > footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);

    .inner {
        @include content-area;

        text-align: center;
        letter-spacing: 1px;
        opacity: 0.1;
        transition: opacity var(--transition);

        &:hover {
            opacity: 1;
        }

        .love {
            padding: 0 5px;
            color: var(--red);
        }
    }
}
