.switcher {
    $indicatorHeight: 3px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgba(white, 0.075);

    @include for-mobile {
        display: none;
    }

    ul {
        display: flex;
        justify-content: space-evenly;

        li {
            flex: 1;

            &.active button {
                border-color: rgba(white, 0.1);
            }
        }
    }

    button {
        width: 100%;
        cursor: pointer;
        font-size: 0.75rem;
        font-weight: bold;
        color: var(--light);
        background-color: rgba(white, 0.05);
        border: none;
        border-bottom: $indicatorHeight solid transparent;
        padding: calc(0.75rem + $indicatorHeight) 1rem 0.75rem 1rem;
        transition: background-color var(--transition),
            border-color var(--transition);

        &:hover {
            background-color: rgba(white, 0.15);
        }

        &:active {
            background-color: rgba(white, 0.25);
        }
    }
}
