.timer {
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
        text-align: center;
    }

    &__duration {
        font-size: 2rem;
        margin-bottom: 5rem;
        font-weight: bold;
        font-family: monospace;

        .text {
            opacity: 0.25;
        }

        .highlight {
            animation: pulse 1s infinite ease-out;
        }
    }

    &__description {
        font-size: 1.5rem;
    }
}

@keyframes pulse {
    0% {
        color: var(--light);
    }

    50% {
        color: var(--red);
    }

    100% {
        color: var(--light);
    }
}
