@import '../animations/pulse.anim';

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px var(--dark);

    &__inner {
        text-align: center;
    }

    &__duration {
        display: flex;
        font-size: 2rem;
        margin-bottom: 5rem;
        font-weight: bold;
        font-family: monospace;

        @include for-mobile {
            flex-direction: column;
            align-items: center;
        }

        .segment {
            &:not(:last-of-type) {
                margin-right: 1.75rem;

                @include for-mobile {
                    margin-right: 0;
                }
            }

            @include for-mobile {
                width: 300px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;

                &:not(:last-of-type) {
                    margin-bottom: 0.75rem;
                }
            }

            .text {
                opacity: 0.6;
            }

            .highlight {
                animation: pulse 1s infinite ease-out;
            }
        }
    }

    &__description {
        font-size: 1.5rem;
        text-shadow: 2px 2px var(--dark);
        padding: 0 2rem;
    }
}
