@import './vars';
@import 'node_modules/include-media/dist/_include-media.scss';
@import '/node_modules/reset-css/reset.css';
@import './fonts';

@import './mixins/media';
@import './mixins/content';

@import './animations/_aurora.anim';

@import './components/header';
@import './components/timer';
@import './components/event';
@import './components/footer';

body {
    background-color: var(--dark);
    font-family: monospace;
    font-size: 16px;
    color: var(--light);
    overflow: hidden;

    background: linear-gradient(
        45deg,
        #32a6ff 0%,
        #3f6fff 49%,
        #bb75bc 86%,
        #5dad67 97%
    );
    background-size: 200%;
    animation: aurora 15s infinite;

    @include for-mobile {
        font-size: 14px;
    }

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;

        background: radial-gradient(
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.35)
        );
        background-size: 200%;
        animation: aurora 8s infinite;

        > main {
            @include content-area;

            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    a {
        color: inherit;
    }

    .sr {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
    }
}
