@import './vars';
@import 'node_modules/include-media/dist/_include-media.scss';
@import '/node_modules/reset-css/reset.css';
@import './fonts';

@import './mixins/content';

@import './components/header';
@import './components/timer';
@import './components/footer';

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark);
    font-family: monospace;
    color: var(--light);

    > main {
        @include content-area;

        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        color: inherit;
    }

    .sr {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
    }
}
